.picture1{	
	/*background: url(badar.jpg);
	background-size: cover;*/
	width: 100%; 
	height: 100%;
}

.picture2{	
	/*background: url(badar.jpg);
	background-size: cover;*/
	width: 100%; 
	height: 100%;
}
.table_div{
	margin-left:auto;
	margin-right: auto;
}

body{
	color: #27146c;
	background-image: linear-gradient(rgba(73, 15, 165, 0.836), rgba(140, 110, 160,0.9));
}

p{
	color: #f7f2f2
}


.thumbnail{
	width: 100%;
	height: 100%
}

